@import 'variables';
@import 'mixins';

/* links ------------------------------------------------------ */

a, a.primary {
  color: var($--color-primary);
  &:focus, &:hover {
    color: rgba(var($--color-primary-rgb), 0.8);
  }
}

a.secondary {
  color: var($--color-secondary);
  &:focus, &:hover {
    color: rgba(var($--color-secondary-rgb), 0.8);
  }
}

a.accent {
  color: var($--color-accent);
  &:focus, &:hover {
    color: rgba(var($--color-accent-rgb), 0.8);
  }
}

/* inputs ----------------------------------------------------- */

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: var($--color-primary) !important;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="grey" d="M0,0l6,8l6-8"/></svg>') center right no-repeat !important;
  padding-right: 3.0rem;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="grey" d="M0,0l6,8l6-8"/></svg>') !important;
}

// Dark
@media (prefers-color-scheme: dark) { 
  input[type='color'],
  input[type='date'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='url'],
  input[type='week'],
  input:not([type]),
  textarea,
  select {
    color: var($--color-on-surface) !important;
  }
}


/* buttons ---------------------------------------------------- */

/* primary color */
.button.button-primary {
  background-color: var($--color-primary);
  border-color: var($--color-primary);
  color: var($--color-on-primary);
}
.button.button-primary:focus,
.button.button-primary:active,
.button.button-primary:visited,
.button.button-primary:hover {
  background-color: rgba(var($--color-primary-rgb), 0.8);
  border-color: rgba(var($--color-primary-rgb), 0.8);
}
.button.button-primary.button-clear,
.button.button-primary.button-outline {
  background-color: transparent;
  color: var($--color-primary);
}
.button.button-primary.button-clear {
  border-color: transparent;
}

/* secondary color */
.button.button-secondary {
  background-color: var($--color-secondary);
  border-color: var($--color-secondary);
  color: var($--color-on-secondary);
}
.button.button-secondary:focus,
.button.button-secondary:active,
.button.button-secondary:visited,
.button.button-secondary:hover {
  background-color: rgba(var($--color-secondary-rgb), 0.8);
  border-color: rgba(var($--color-secondary-rgb), 0.8);
}
.button.button-secondary.button-clear,
.button.button-secondary.button-outline {
  background-color: transparent;
  color: var($--color-secondary);
}
.button.button-secondary.button-clear {
  border-color: transparent;
}

/* accent color */
.button.button-accent {
  background-color: var($--color-accent);
  border-color: var($--color-accent);
  color: var($--color-on-accent);
}
.button.button-accent:focus,
.button.button-accent:active,
.button.button-accent:visited,
.button.button-accent:hover {
  background-color: rgba(var($--color-accent-rgb), 0.8);
  border-color: rgba(var($--color-accent-rgb), 0.8);
}
.button.button-accent.button-clear,
.button.button-accent.button-outline {
  background-color: transparent;
  color: var($--color-accent);
}
.button.button-accent.button-clear {
  border-color: transparent;
}

/* small button */
.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

/* large button */
.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

/* pres ------------------------------------------------------- */

.pre {
  background: transparent !important;
  border-left-color: $--color-primary !important;
}
